.section{
    background-color:#00d6ff;
    width:20vw;
    height:5vh;
    text-align:center;
    font-weight: bold;
    font-size: 22px;
}

.section2{
    background-color:#00d6ff;
    width:10vw;
    height:5vh;
    text-align:center;
}

.position{
    width:20vw;
    text-align:center;
    border:solid thin;
}

.table-size{
    width:100vw;
}

.row{
    margin-top:3px;
    margin-bottom:3px;
}

.menu-width{
    width:10%;
    height:10px;
}
// 小画面メニューバー

.menu {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 10px 0;
}

.menu-item {
  flex-basis: 24%;
  text-align: center;
  border-left: 1px solid black;
  padding: 5px 0;
}

.menu-item:first-child {
  border-left: none;
}

.menu-item:last-child {
  border-right: 1px solid black;
}