{% load static %}
<!DOCTYPE html>
<html lang="ja">

<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <!-- favicon -->
    <link rel="icon" href="{% static 'images/favicon.ico' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}TASKAR　for Administrater{% endblock %}</title>

    <!-- Bootstrap CSS -->
    <!--<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"-->
    <!--crossorigin="anonymous">-->
    <link href="{% static 'app/css/bace.css' %}" rel="stylesheet">
</head>

<body style="height:3000px">
  <div style="background-color:#00d6ff">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a style="margin-right:26rem;margin-top:18px" class="navbar-brand me-auto" href="{% url 'index' %}">TASKAR</a>
          <li style="list-style:none;margin-top:30px" class="nav-item">
            {% if user.is_authenticated %}
              <p style="color:black" class="nav-link">ようこそ{{ user.get_username }}さん</p>
            {% else %}
              <p style="color:black" class="nav-link">ログインしていません</p>
            {% endif %}
          </li>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#Navber" aria-controls="Navber"
              aria-expanded="false" aria-label="ナビゲーションの切替">
              <span class="navbar-toggler-icon"></span>
            </button>
        <div style="margin-top:15px" class="collapse navbar-collapse" id="Navber">
          <ul class="navbar-nav ms-auto">
              {% if user.is_superuser %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'admin:index'%}">管理サイト</a>
            </li>
              {% endif %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'login'%}">ログアウト</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'index'%}">社員情報</a>
            </li>
              <li class="nav-item">
              <a class="nav-link" href="{% url 'Clock:index'%}">勤怠</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  {% block content %}
  {% endblock %}

    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="{% static 'app/js/plugins/responsive-paginate.js' %}"></script>
    <script src="{% static 'app/js/app.js' %}"></script>

</body>
<footer style="margin-top:2000px height:10vh; background-color:#00d6ff ">
    <div style="background-color:#00d6ff">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#Navber" aria-controls="Navber" aria-expanded="false" aria-label="ナビゲーションの切替">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="Navber">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
        <table>
            <div style="align-item:center">
                <th>
                    <div onclick="slackjump()">Slack</div>
                </th>
                <th>
                    <div onclick="helpjump()">ヘルプ</div>
                </th>
            </div>
        </table>
            </ul>
        </div>
    </nav>
    </div>
</footer>
    <script type="text/javascript">
        const slackjump = function(){
            window.location.href='https://app.slack.com/client/TP0RB1K55/D03JBBXGZL0';
        }
        const helpjump = function(){
            window.location.href='###'
        }
        function goBack() {
            window.history.back();
        }
    </script>

</html>