{% load static %}
<!DOCTYPE html>
<html lang="ja-JP">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}TASKAR{% endblock %}</title>
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="{% static 'app/login.css' %}">
    <link rel="stylesheet" href="{% static 'dark_mode.css' %}">
    <link rel="stylesheet" href="{% static 'nav_sidebar.css' %}">
    {% block additional_css %}{% endblock %}
</head>
<body>
{% block content %}{% endblock %}
<script src="{% static 'nav_sidebar.js' %}" defer=""></script>
{% block additional_js %}{% endblock %}
</body>
</html>
