{% extends "./_base.html" %}
{% block content %} 
{% load crispy_forms_tags %}
<div class="container" style="height:3000px">
	<div id="myModal" class="modal fade" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">検索条件</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<form id="filter" method="get">
					<div class="modal-body">
						{{filter.form|crispy}}
					</div>
				</form>
				<div class="modal-footer">
					<a class="btn btn-outline-secondary"  style="visibility:none" href="{% url 'search_clear' %}" data-dismiss="modal">戻る</a>
					<button type="submit" class="btn btn-outline-secondary" form="filter">検索</button>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			{% if request.GET %}
				<a href="{{ clear_url }}" class="btn btn-outline-secondary">検索条件を解除する</a>
			{% endif %}

			<div class="float-right">
				{% if user.is_superuser %}
				<a class="btn btn-outline-secondary" href="{% url 'create' %}">新規</a>
				{% endif %}
				<a class="btn btn-outline-secondary" data-toggle="modal" data-target="#myModal" href="#">検索</a>
			</div>
		</div>
	</div>



	<div>
		<table>
				<tr>
					<th class="section">名前</th>
					<th class="section">部署</th>
					<th class="section">役職</th>
					{% if user.is_superuser %}
					<th colspan="3" class="section2">Selecter</th>
					{% endif %}
				</tr>
				{% for item in item_list %}
				<tr>
					<td class="position">{{ item.name }}</td>
					<td class="position">{{ item.section}}</td>
					<td class="position">{{ item.rank}}</td>
					<td><a class="btn btn-outline-secondary " href="{% url 'detail' item.pk %}">詳細</a></td>
					{% if user.is_superuser %}
					<td><a class="btn btn-outline-secondary " href="{% url 'update' item.pk %}">編集</a></td>
					<td><a class="btn btn-outline-secondary " href="{% url 'delete' item.pk %}">削除</a></td>
					{% endif %}
				</tr>
				{% empty %}
				<li class="list-group-item">
					対象のデータがありません
				</li>
				{% endfor %}
		</table>
	</div>
	<div class="row" >
		<div class="col-12">
			<div class="float-right">
				{% if user.is_superuser %}
				<a class="btn btn-outline-secondary" href="{% url 'create' %}">新規</a>
				{% endif %}
				<a class="btn btn-outline-secondary" data-toggle="modal" data-target="#myModal" href="#">検索</a>
			</div>
		</div>
	</div>
</div>
{% endblock %}